In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pathlib
import pandas
import numpy

import bletl

## Parse one of the example files

In [3]:
fppro = pathlib.Path(r'..\bletl\data\BLPro\18-FZJ-Test2--2018-02-07-10-01-11.csv')

In [4]:
data = bletl.parse(filepath=fppro)

## Now you can access DataFrames for the different kinds of data

In [6]:
data.measurements.head()

                          time  amp_1  amp_2  amp_ref_1  amp_ref_2  phase  cal
filterset cycle well
01        1     1     0.030278   1.86    0.0       1.96        0.0  -1.33  0.0
                2     0.030556   1.88    0.0       1.98        0.0  -0.75  0.0
                3     0.030833   1.84    0.0       1.94        0.0  -1.77  0.0
                4     0.031389   1.89    0.0       2.00        0.0  -1.57  0.0
                5     0.031667   1.87    0.0       1.97        0.0  -2.12  0.0

In [7]:
data.comments.head()

       time user_comment         sys_comment
0  0.018889          nan        COVER CLOSED
1  0.020278          nan  TEMP REGULATION ON
2  0.020278          nan        START SHAKER

In [8]:
data.references.head()

                     time   amp_1  amp_2  phase
cycle filterset
1     1          0.029722  230.07    0.0    NaN
      2          0.050278  230.02    0.0    NaN
2     1          0.112222  252.39    0.0    NaN
      2          0.132500  251.83    0.0    NaN
3     1          0.195556  252.18    0.0    NaN

In [9]:
data.filtersets.head()

,filter_number,filter_name,filter_id,filter_type,excitation,emission,gain,gain_1,gain_2,phase_statistic_sigma,signal_quality_tolerance,reference_gain,reference_value,calibration,emission2
1,1,Biomass,201,Intensity,None,None,NaN,2.0,1.0,None,None,5.0,242.897507,,None
2,2,Biomass,201,Intensity,None,None,NaN,5.0,1.0,None,None,5.0,242.897507,,None
3,3,pH(HP8),202,pH,None,None,7.0,7.0,1.0,None,None,NaN,100.000000,FZJ-Test-HP8,None
4,4,DO(PSt3),203,DO,None,None,7.0,7.0,1.0,None,None,NaN,100.000000,FZJ-Test-Pst3,None